# TSDC Data Reconciling

waiting on updates to the pueblo data (currently a copy of the smart commute data) and then "unlocking" redacted columns with the data researchers will need to apply for

In [260]:
import numpy as np
import pandas as pd
from collections import defaultdict
import scaffolding

In [261]:
# Loading mapping dictionaries from mapping_dictionaries notebook
%store -r df_ei
%store -r dic_re
%store -r dic_pur
%store -r dic_fuel

# convert a dictionary to a defaultdict
dic_re = defaultdict(lambda: 'Other',dic_re)
dic_pur = defaultdict(lambda: 'Other',dic_pur)
dic_fuel = defaultdict(lambda: 'Other',dic_fuel)

0      stage_-o7_9mpIOG0
1      stage_HiPajVSJhsc
2      stage_9fVPYzQDo6Q
3      stage_qaFAEe8DY7k
4      stage_rDuumFma4Ao
             ...
279    prepilot_rhBZukxY
280    prepilot_k36cxmfA
281    prepilot_FmxVf8u6
282    prepilot_pNpK4pFg
283    prepilot_F3jxHLSW
Name: user_email, Length: 284, dtype: object

88     4c_Ze5Y_li7r4MOsbqj
89     4c_AGgrHoywg5gYmyL8
90     4c_Ri332Xj3DKaCrdwl
91     4c_6gzfgbVUODrbTdc_
92     4c_eJEIg2mWQYU3ISXU
              ...
279      prepilot_rhBZukxY
280      prepilot_k36cxmfA
281      prepilot_FmxVf8u6
282      prepilot_pNpK4pFg
283      prepilot_F3jxHLSW
Name: user_email, Length: 196, dtype: object

Loaded all confirmed trips of length 241123

,source,end_ts,end_fmt_time,end_loc,raw_trip,start_ts,start_fmt_time,start_loc,duration,distance,...,end_local_dt_day,end_local_dt_hour,end_local_dt_minute,end_local_dt_second,end_local_dt_weekday,end_local_dt_timezone,_id,user_id,metadata_write_ts,additions
0,DwellSegmentationDistFilter,1.629238e+09,2021-08-17T18:02:26.493017-04:00,"{'type': 'Point', 'coordinates': [-71.08788681...",611c350df3bfdd5663c34e52,1.629237e+09,2021-08-17T17:51:32.998732-04:00,"{'type': 'Point', 'coordinates': [-71.11831245...",653.494285,2700.231495,...,17,18,2,26,1,America/New_York,611fdd6f1c25a2c3dbf7c5be,8a0473ca-e53d-4720-a99c-0696cc1fb407,1.629478e+09,NaN
1,DwellSegmentationTimeFilter,1.628682e+09,2021-08-11T13:39:44.936000+02:00,"{'type': 'Point', 'coordinates': [33.7674264, ...",6113bf6009f3390d387bb211,1.628682e+09,2021-08-11T13:33:51+02:00,"{'type': 'Point', 'coordinates': [33.7754756, ...",353.936000,1368.259843,...,11,13,39,44,2,Africa/Blantyre,611fdd6fbc8ce4a9e39116cb,0a093cbd-b536-43af-b03d-293425e84c76,1.629478e+09,NaN
2,DwellSegmentationTimeFilter,1.628684e+09,2021-08-11T14:06:11.774000+02:00,"{'type': 'Point', 'coordinates': [33.7595711, ...",6113cd7024f71bcfb27d7c5d,1.628682e+09,2021-08-11T13:42:44.936000+02:00,"{'type': 'Point', 'coordinates': [33.7674264, ...",1406.838000,944.948370,...,11,14,6,11,2,Africa/Blantyre,611fdd6fbc8ce4a9e39116cc,0a093cbd-b536-43af-b03d-293425e84c76,1.629478e+09,NaN
3,DwellSegmentationTimeFilter,1.628686e+09,2021-08-11T14:49:37.923000+02:00,"{'type': 'Point', 'coordinates': [33.7673488, ...",6113cd7024f71bcfb27d7c5f,1.628684e+09,2021-08-11T14:09:11.774000+02:00,"{'type': 'Point', 'coordinates': [33.7595711, ...",2426.149000,935.565727,...,11,14,49,37,2,Africa/Blantyre,611fdd6fbc8ce4a9e39116cd,0a093cbd-b536-43af-b03d-293425e84c76,1.629478e+09,NaN
4,DwellSegmentationTimeFilter,1.628688e+09,2021-08-11T15:11:54.772000+02:00,"{'type': 'Point', 'coordinates': [33.7643828, ...",6114ca95c783b3519ce45faa,1.628687e+09,2021-08-11T15:05:28.344737+02:00,"{'type': 'Point', 'coordinates': [33.7673488, ...",386.427263,1398.167487,...,11,15,11,54,2,Africa/Blantyre,611fdd6fbc8ce4a9e39116ce,0a093cbd-b536-43af-b03d-293425e84c76,1.629478e+09,NaN

After filtering, found 203821 participant trips

,source,end_ts,end_fmt_time,end_loc,raw_trip,start_ts,start_fmt_time,start_loc,duration,distance,...,end_local_dt_day,end_local_dt_hour,end_local_dt_minute,end_local_dt_second,end_local_dt_weekday,end_local_dt_timezone,_id,user_id,metadata_write_ts,additions
37302,DwellSegmentationTimeFilter,1.626885e+09,2021-07-21T10:31:16-06:00,"{'type': 'Point', 'coordinates': [-107.8599774...",60f85d2453f7233da0b1a28c,1.626884e+09,2021-07-21T10:13:12.769000-06:00,"{'type': 'Point', 'coordinates': [-107.8579336...",1083.231000,9413.891182,...,21,10,31,16,2,America/Denver,612089e1cb13df1d4d22cfd9,e9e479e9-5c3f-4345-a885-dadb7999b312,1.629522e+09,NaN
37303,DwellSegmentationTimeFilter,1.626920e+09,2021-07-21T20:05:41.808000-06:00,"{'type': 'Point', 'coordinates': [-107.8643886...",60f8dbb173697eb577aaff42,1.626918e+09,2021-07-21T19:38:56.389000-06:00,"{'type': 'Point', 'coordinates': [-107.7964539...",1605.419000,13124.152280,...,21,20,5,41,2,America/Denver,612089e1cb13df1d4d22cfda,e9e479e9-5c3f-4345-a885-dadb7999b312,1.629522e+09,NaN
37304,DwellSegmentationTimeFilter,1.626971e+09,2021-07-22T10:15:32.259000-06:00,"{'type': 'Point', 'coordinates': [-107.860199,...",60f9aea3f399df93fdc1ab41,1.626969e+09,2021-07-22T09:51:21.159484-06:00,"{'type': 'Point', 'coordinates': [-107.8643886...",1451.099516,10587.088615,...,22,10,15,32,3,America/Denver,612089e1cb13df1d4d22cfdb,e9e479e9-5c3f-4345-a885-dadb7999b312,1.629522e+09,NaN
37305,DwellSegmentationTimeFilter,1.626989e+09,2021-07-22T15:21:31-06:00,"{'type': 'Point', 'coordinates': [-107.8743952...",60f9f4f122abd49191e21f5c,1.626988e+09,2021-07-22T15:14:35.056996-06:00,"{'type': 'Point', 'coordinates': [-107.860199,...",415.943004,3362.028245,...,22,15,21,31,3,America/Denver,612089e1cb13df1d4d22cfdc,e9e479e9-5c3f-4345-a885-dadb7999b312,1.629522e+09,NaN
37306,DwellSegmentationTimeFilter,1.626990e+09,2021-07-22T15:32:52.960000-06:00,"{'type': 'Point', 'coordinates': [-107.8601932...",60f9f4f122abd49191e21f5e,1.626989e+09,2021-07-22T15:24:53.289799-06:00,"{'type': 'Point', 'coordinates': [-107.8743952...",479.670201,4084.311560,...,22,15,32,52,3,America/Denver,612089e2cb13df1d4d22cfdd,e9e479e9-5c3f-4345-a885-dadb7999b312,1.629522e+09,NaN

183
['4c' 'cc' 'fc' 'pc' 'sc' 'vail' 'prepilot']
176

                            user_id_str  distance_x  distance_y
0  0154d714-3928-4c34-b865-e5a417cd48af        2104         276
1  03a395b4-d861-4757-bb84-32b4984559b0        1625         263
2  0958519b-b4a6-4498-b824-015917eec592          18          17
3  0b3e78fa-91d8-4aa6-a320-3440143c8c16        2430        2315
4  0d0ae3a5-5641-4d13-8c52-a6040a203d24        1059           2

176

NameError: name 'plt' is not defined

,start_local_dt_month_x,start_local_dt_year_x,count_x,Month,start_local_dt_month_y,start_local_dt_year_y,count_y,proportion
5,6,2021,309,2021-6,6,2021,203,0.656958
6,7,2021,5143,2021-7,7,2021,3431,0.667120
7,8,2021,10016,2021-8,8,2021,5799,0.578974
8,9,2021,9626,2021-9,9,2021,4924,0.511531
9,10,2021,12781,2021-10,10,2021,6508,0.509193
10,11,2021,12319,2021-11,11,2021,5739,0.465866
11,12,2021,12976,2021-12,12,2021,5273,0.406366
12,1,2022,10427,2022-1,1,2022,4427,0.424571
13,2,2022,10234,2022-2,2,2022,4085,0.399160
14,3,2022,11849,2022-3,3,2022,4917,0.414972
15,4,2022,13013,2022-4,4,2022,5073,0.389841
16,5,2022,13724,2022-5,5,2022,5028,0.366365
17,6,2022,13712,2022-6,6,2022,4984,0.363477
18,7,2022,12477,2022-7,7,2022,4576,0.366755
19,8,2022,12830,2022-8,8,2022,3994,0.311302
20,9,2022,11915,2022-9,9,2022,3737,0.313638
21,10,2022,11307,2022-10,10,2022,2800,0.247634
22,11,2022,8099,2022-11,11,2022,1798,0.222003
23,12,2022,7572,2022-12,12,2022,1898,0.250660

## Mini Pilot Data

In [226]:
mini_confirmed_trips = pd.read_csv('mini_pilot/data/analysis_confirmed_trip.csv')

In [227]:
print(len(mini_confirmed_trips))
print(mini_confirmed_trips.perno.nunique())
mini_confirmed_trips.columns

#this is one more user and about 1,000 more trips than we had in our minipilot dataset 
## - but we haven't removed no labels?

3492
13

Index(['_id', 'perno', 'metadata_platform', 'metadata_write_ts',
       'metadata_time_zone', 'metadata_write_local_dt_year',
       'metadata_write_local_dt_month', 'metadata_write_local_dt_day',
       'metadata_write_local_dt_hour', 'metadata_write_local_dt_minute',
       'metadata_write_local_dt_second', 'metadata_write_local_dt_weekday',
       'metadata_write_local_dt_timezone', 'metadata_write_fmt_time',
       'data_source', 'data_end_ts', 'data_end_local_dt_year',
       'data_end_local_dt_month', 'data_end_local_dt_day',
       'data_end_local_dt_hour', 'data_end_local_dt_minute',
       'data_end_local_dt_second', 'data_end_local_dt_weekday',
       'data_end_local_dt_timezone', 'data_end_fmt_time', 'data_end_loc_type',
       'data_raw_trip', 'data_start_ts', 'data_start_local_dt_year',
       'data_start_local_dt_month', 'data_start_local_dt_day',
       'data_start_local_dt_hour', 'data_start_local_dt_minute',
       'data_start_local_dt_second', 'data_start_local_dt_weekday',
       'data_start_local_dt_timezone', 'data_start_fmt_time',
       'data_start_loc_type', 'data_duration', 'data_distance',
       'data_start_place', 'data_end_place', 'data_cleaned_trip',
       'data_user_input_mode_confirm', 'data_user_input_purpose_confirm',
       'data_user_input_replaced_mode', 'data_end_loc_longitude',
       'data_end_loc_latitude', 'data_start_loc_longitude',
       'data_start_loc_latitude', 'data_distance_miles', 'start_loc_geom_nrel',
       'end_loc_geom_nrel', 'start_loc_geom_nrel_zipcode',
       'end_loc_geom_nrel_zipcode'],
      dtype='object')

In [228]:
## remove trips with no label and count again
labeled_mini = mini_confirmed_trips[mini_confirmed_trips.data_user_input_mode_confirm.notna()]
labeled_mini = mini_confirmed_trips[mini_confirmed_trips.data_user_input_purpose_confirm.notna()]
# labeled_mini = mini_confirmed_trips[mini_confirmed_trips.data_user_input_purpose_confirm.notna()]

print(len(labeled_mini)) #only 25 over data used in paper
print(labeled_mini.perno.nunique())#same as data used in paper

2403
12

In [229]:
mini_data = labeled_mini.copy()

#first, add the cleaned mode
mini_data['Mode_confirm']= mini_data['data_user_input_mode_confirm'].map(dic_re)

#second, add the cleaned replaced mode ASSUMES PROGRAM
mini_data['Replaced_mode']= mini_data['data_user_input_replaced_mode'].map(dic_re)

#third, add the cleaned purpose
mini_data['Trip_purpose']= mini_data['data_user_input_purpose_confirm'].map(dic_pur)

In [230]:
# Combine variable categories
mini_data = mini_data.replace('Gas Car, drove alone', 'Car')
mini_data = mini_data.replace('Gas Car, with others', 'Shared Car')
mini_data = mini_data.replace('Bikeshare', 'Shared Micromobility')
mini_data = mini_data.replace('Scooter share', 'Shared Micromobility')
mini_data = mini_data.replace('Regular Bike', 'Personal Micromobility')
mini_data = mini_data.replace('Skate board', 'Personal Micromobility')
mini_data = mini_data.replace('Train', 'Transit')
mini_data = mini_data.replace('Free Shuttle', 'Transit')
mini_data = mini_data.replace('Bus', 'Transit')
mini_data = mini_data.replace('Walk', 'Walk')
mini_data = mini_data.replace('Taxi/Uber/Lyft', 'Ridehail')
mini_data = mini_data.replace('Pilot ebike', 'E-Bike')

#filter out 'not a trip' trips
mini_data = mini_data[~mini_data['Mode_confirm'].isin(['Not a Trip'])]
mini_data = mini_data[~mini_data['Replaced_mode'].isin(['Not a Trip'])]
mini_data = mini_data[~mini_data['Trip_purpose'].isin(['not_a_trip'])]

print(len(mini_data))

2354

In [231]:
mini_data.loc[mini_data['Mode_confirm']=='Personal Micromobility', 'Mode_confirm'] = 'Other'
mini_data.loc[mini_data['Mode_confirm']=='Shared Micromobility', 'Mode_confirm'] = 'Other'

t1 = mini_data.groupby(['Mode_confirm'], as_index=False).count()[['Mode_confirm','data_distance']]
t1['proportion'] = t1['data_distance'] / np.sum(t1.data_distance)
t1['trip_type'] = 'All Trips'

t2 = mini_data[mini_data['Trip_purpose']=='Work'].copy()
t2 = t2.groupby(['Mode_confirm'], as_index=False).count()[['Mode_confirm','data_distance']]
t2['proportion'] = t2['data_distance'] / np.sum(t2.data_distance)
t2['trip_type'] = 'Work Trips'
t2.loc[1.5] = 'Other', 0, 0, 'Work Trips'
t2 = t2.sort_index().reset_index(drop=True)

mini_data = pd.concat([t1,t2])
mini_data['Dataset'] = 'Minipilot'
mini_data.columns = ['Mode','Count','Proportion','Trip Type', "Dataset"]

In [232]:
mini_data #trip breakdown is really close to data used in paper!

         Mode  Count  Proportion   Trip Type    Dataset
0         Car    477    0.202634   All Trips  Minipilot
1      E-bike    776    0.329652   All Trips  Minipilot
2       Other     28    0.011895   All Trips  Minipilot
3    Ridehail     65    0.027613   All Trips  Minipilot
4  Shared Car    685    0.290994   All Trips  Minipilot
5     Transit    155    0.065845   All Trips  Minipilot
6        Walk    168    0.071368   All Trips  Minipilot
0         Car    110    0.295699  Work Trips  Minipilot
1      E-bike    134    0.360215  Work Trips  Minipilot
2       Other      0    0.000000  Work Trips  Minipilot
3    Ridehail      1    0.002688  Work Trips  Minipilot
4  Shared Car    101    0.271505  Work Trips  Minipilot
5     Transit      3    0.008065  Work Trips  Minipilot
6        Walk     23    0.061828  Work Trips  Minipilot

### matching minis to survey data

In [233]:
mini_trips = pd.read_csv('mini_pilot/data/analysis_confirmed_trip.csv')
# mini_trips = labeled_mini.copy()
mini_surveys = pd.read_csv('mini_pilot/data/survey_household.csv')

print(len(mini_trips))
print(len(mini_surveys)) #15 surveys
print(mini_trips.perno.nunique()) #13 unique users

3492
15
13

In [234]:
socio_data = mini_surveys[~mini_surveys.perno.isnull()]
print(len(socio_data))
# socio_data.columns

15

In [235]:
# Deal with people who have multiple responses by using most recent
socio_data = socio_data.sort_values(by=['perno', 'timestamp'])
socio_data.drop_duplicates(subset=['perno'], keep='last', inplace=True)
socio_data['user_id_socio'] = socio_data.perno
socio_data.user_id_socio = [i.replace('-','') for i in socio_data.user_id_socio] # remove all dashes from strings
socio_data = socio_data.drop(labels='perno', axis=1)

print(len(socio_data)) #same as number of users

13

In [236]:
# Lose some trips due to people with no survey responses
mini_trips['user_id_socio'] = mini_trips.perno.astype(str)
mini_trips.user_id_socio = [i.replace('-','') for i in mini_trips.user_id_socio] # remove all dashes from strings
mini_trips = mini_trips.merge(socio_data, on='user_id_socio')

print(mini_trips.user_id_socio.nunique()) #lost one person that has no survey record -- down to 12 people
print(len(mini_trips))

12
3662

In [237]:
# mini_trips.head()

## Full Pilot Data

In [238]:
#loop over
programs = ['4c_21', 'cc_21', 'fc_21', 'pc_21', 'sc_21', 'vail_22']
datasets = []

for program in programs:
    print('starting with ', program)
    
    #create dataset with surveys and trips
    trips = pd.read_csv('CEO/ceo_' + program + '-download/data/analysis_confirmed_trip.csv')
    print(len(trips), 'trips')
    print(trips.perno.nunique(), 'people')

    surveys = pd.read_csv('CEO/ceo_' + program + '-download/data/survey_household.csv')
    print(len(surveys), 'surveys')

    #drop any null ids
    socio_data = surveys[~surveys.unique_user_id_autofilled_do_not_edit.isnull()]
    print(len(socio_data), 'surveys after dropping null ids')

    #drop duplicates
    socio_data = socio_data.sort_values(by=['unique_user_id_autofilled_do_not_edit', 'timestamp'])
    socio_data.drop_duplicates(subset=['unique_user_id_autofilled_do_not_edit'], keep='last', inplace=True)
    print(len(socio_data),'surveys', socio_data.unique_user_id_autofilled_do_not_edit.nunique(), 'users after dropping')

    #prepare survey ids for merging
    socio_data['user_id_socio'] = socio_data.unique_user_id_autofilled_do_not_edit.astype(str)
    socio_data['user_id_socio'] = socio_data['user_id_socio'].str.strip() #remove leading or trailing whitespace!!
    socio_data['user_id_socio'] = socio_data['user_id_socio'] + program
    socio_data = socio_data.drop(labels='unique_user_id_autofilled_do_not_edit', axis=1)

    #prepare trip ids for merging
    trips['user_id_socio'] = trips.perno.astype(str)
    trips['user_id_socio'] = trips['user_id_socio'].str.strip() #remove leading or trailing whitespace!!
    trips.user_id_socio = [i.replace('-','') for i in trips.user_id_socio] # remove all dashes from strings
    trips['user_id_socio'] = trips['user_id_socio'] + program

    #merge the data
    data = trips.merge(socio_data, on='user_id_socio')
    print(len(data), 'trips after merging')
    print(data.user_id_socio.nunique(), 'people after merging')
    
    data['program'] = program.split('_')[0]
    
    #add to list of datasets
    datasets.append(data)

starting with  4c_21
10121 trips
14 people
28 surveys
28 surveys after dropping null ids
15 surveys 15 users after dropping
8874 trips after merging
13 people after merging
starting with  cc_21

/tmp/ipykernel_102/3798875609.py:9: DtypeWarning: Columns (5,6,9,10,12,17,24,25,28,29,31,36,42,44,45,47,51,53,54,55,56,57,58) have mixed types. Specify dtype option on import or set low_memory=False.
  trips = pd.read_csv('CEO/ceo_' + program + '-download/data/analysis_confirmed_trip.csv')

75199 trips
52 people
72 surveys
72 surveys after dropping null ids
50 surveys 50 users after dropping
72275 trips after merging
47 people after merging
starting with  fc_21

/tmp/ipykernel_102/3798875609.py:9: DtypeWarning: Columns (3,8,9,10,13,15,19,20,21,24,27,28,32,33,34,37,40,53,54,55,56,57,58) have mixed types. Specify dtype option on import or set low_memory=False.
  trips = pd.read_csv('CEO/ceo_' + program + '-download/data/analysis_confirmed_trip.csv')

32442 trips
30 people
47 surveys
47 surveys after dropping null ids
30 surveys 30 users after dropping
32341 trips after merging
29 people after merging
starting with  pc_21

/tmp/ipykernel_102/3798875609.py:9: DtypeWarning: Columns (3,8,9,10,13,15,19,20,21,24,27,28,32,33,34,37,40,53,54,55,56,57,58) have mixed types. Specify dtype option on import or set low_memory=False.
  trips = pd.read_csv('CEO/ceo_' + program + '-download/data/analysis_confirmed_trip.csv')

17989 trips
22 people
29 surveys
29 surveys after dropping null ids
15 surveys 15 users after dropping
15565 trips after merging
14 people after merging
starting with  sc_21

/tmp/ipykernel_102/3798875609.py:9: DtypeWarning: Columns (3,8,9,10,13,15,19,20,21,24,27,28,32,33,34,37,40,53,54,55,56,57,58) have mixed types. Specify dtype option on import or set low_memory=False.
  trips = pd.read_csv('CEO/ceo_' + program + '-download/data/analysis_confirmed_trip.csv')

17989 trips
22 people
29 surveys
29 surveys after dropping null ids
15 surveys 15 users after dropping
15565 trips after merging
14 people after merging
starting with  vail_22
9133 trips
12 people
11 surveys
11 surveys after dropping null ids
9 surveys 9 users after dropping
7447 trips after merging
9 people after merging

In [239]:
#merge them all together
full_data = pd.concat(datasets)
print(len(full_data)) #152,067 trips
print(full_data.user_id_socio.nunique()) #126 users
# full_data.columns

#filter out unlabeled trips
labeled_data = full_data[full_data.data_user_input_mode_confirm.notna() | full_data.data_user_input_purpose_confirm.notna()]
# data = data[data.data_user_input_purpose_confirm.notna()]

print(len(labeled_data))
labeled_data.program.unique()

152067
126
65440

array(['4c', 'cc', 'fc', 'pc', 'sc', 'vail'], dtype=object)

In [240]:
labeled_data.rename(columns={'user_id_socio':'user_id',
                          'please_identify_which_category_represents_your_total_household_':'HHINC',
                          'how_many_motor_vehicles_are_owned_leased_or_available_for_regul':'VEH',
                            ' how_many_motor_vehicles_are_owned_leased_or_available_for_regul':'VEH',
                             'how_many_motor_vehicles_are_owned_leased_or_available_for_regul ':'VEH',
                           'in_which_year_were_you_born?':'AGE',
                          'including_yourself_how_many_people_live_in_your_home?':'HHSIZE',
                          'how_many_children_under_age_18_live_in_your_home?':'CHILDREN',
                          'what_is_your_gender?':'GENDER',
                          'if_you_were_unable_to_use_your_household_vehicles_which_of_the_':'available_modes',
                          'are_you_a_student?':'STUDENT',
                         'data_duration':'duration', 
                         'data_distance':'distance'}, inplace=True)

labeled_data.AGE.unique()

/tmp/ipykernel_102/1215677822.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  labeled_data.rename(columns={'user_id_socio':'user_id',

array([nan, 'REDACTED'], dtype=object)

so far so good, we're looking for at least 122 users and at least 61,496 trips after ALL cleaning

In [241]:
data = labeled_data.copy()

#first, add the cleaned mode
data['Mode_confirm']= data['data_user_input_mode_confirm'].map(dic_re)

#second, add the cleaned replaced mode ASSUMES PROGRAM
data['Replaced_mode']= data['data_user_input_replaced_mode'].map(dic_re)

#third, add the cleaned purpose
data['Trip_purpose']= data['data_user_input_purpose_confirm'].map(dic_pur)

# Get timestamp from known year/month/day aggregated to days
data.rename(columns={'data_start_local_dt_year':'year','data_start_local_dt_month':'month','data_start_local_dt_day':'day'}, inplace=True)
data['date_time'] = pd.to_datetime(data[['year','month','day']])

# Fix age (birth year to age)
# data['AGE'] = 2022 - data['AGE'] #redacted in data, avaliable after you apply

# Number of workers (size of HH - kids)
data['WORKERS'] = data['HHSIZE'] - data['CHILDREN']

# Duration in minutes (hours to minutes)
data['duration'] = data['duration'] / 60

# E-bike/not E-Bike variable
data['is_ebike'] = "E-Bike Trips"
data.loc[data['Mode_confirm']!="E-bike", 'is_ebike'] = "Non E-Bike Trips"

data = data[~data['HHINC'].isin(['Prefer not to say', '$150,000'])] # Side note why is 150k (n=7) its own bin?
data['HHINC_NUM'] = data.HHINC.replace(['Less than $24,999',
                                       '$25,000-$49,999',
                                       '$50,000-$99,999',
                                       '$100,000 -$149,999',
                                       '$150,000-$199,999',
                                       '$200,000 or more'], [12500,37500,75000,125000,175000,250000])

# Calculate average income per adult in the household
data['PINC'] = data['HHINC_NUM'] / data['WORKERS']

# Combine variable categories
data = data.replace('Gas Car, drove alone', 'Car')
data = data.replace('Gas Car, with others', 'Shared Car')
data = data.replace('Bikeshare', 'Shared Micromobility')
data = data.replace('Scooter share', 'Shared Micromobility')
data = data.replace('Regular Bike', 'Personal Micromobility')
data = data.replace('Skate board', 'Personal Micromobility')
data = data.replace('Train', 'Transit')
data = data.replace('Free Shuttle', 'Transit')
data = data.replace('Bus', 'Transit')
data = data.replace('Walk', 'Walk')
data = data.replace('Taxi/Uber/Lyft', 'Ridehail')
data = data.replace('Pilot ebike', 'E-Bike')

# Categorical type will include all days/modes in groupby even if there is no data for a particular tabulation
data.user_id = pd.Categorical(data.user_id)
data.date_time = pd.Categorical(data.date_time)
data.mode_confirm = pd.Categorical(data.data_user_input_mode_confirm, ordered=True, categories=np.unique(list(dic_re.keys())))

# Add order to categorical variables
data.HHINC = pd.Categorical(data.HHINC, ordered=True, categories=['Less than $24,999',
                                                                 '$25,000-$49,999',
                                                                 '$50,000-$99,999'])
data['Mode'] = pd.Categorical(data.Mode_confirm, ordered=True, categories=[
    'E-bike',
    'Car',
    'Shared Car',
    'Walk',
    'Transit',
    'Personal Micromobility',
    'Shared Micromobility',
    'Ridehail',
    'Other'])
data.VEH = data.VEH.astype(str)
data.VEH = pd.Categorical(data.VEH, ordered=True, categories=['0','1','2','3','4+'])
data['PINC_NUM'] = data['PINC']
data.PINC = pd.cut(data.PINC, bins=[0,10000,20000,30000,40000,50000,60000,70000,999999],
                  labels=["$0-9",
                         "$10-19",
                         "$20-29",
                         "$30-39",
                         "$40-49",
                         "$50-59",
                         "$60-69",
                         "$70+"])

print(data.program.unique())

['4c' 'cc' 'fc' 'pc' 'sc' 'vail']

/tmp/ipykernel_102/3145178333.py:57: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  data.mode_confirm = pd.Categorical(data.data_user_input_mode_confirm, ordered=True, categories=np.unique(list(dic_re.keys())))

In [242]:
#filtered out ages that were greater than 100
# data = data[data['AGE'] < 100] #lack data at the moment
#filter out durations longer than 8 hours
data = data[data['duration']<480]
#distances more than 50 miles 
# data = data[data['distance_miles']<50] #I think the distance I have is not miles, so omitting for right now
#records that had â€™prefer not to sayâ€™ as a response for household income, household vehicles, and other available modes
data = data[~data['HHINC'].isin(['Prefer not to say','$100,000 -$149,999','$150,000','$150,000-$199,999','$200,000 or more'])] # Side note why is 150k (n=7) its own bin?
data = data[~data['VEH'].isin(['Prefer not to say / Prefiero no decir.'])]
data = data[~data['available_modes'].isin(['None', 'Prefer not to say'])]

#filter household sizes smaller than the number of kids
data = data[data['HHSIZE']>data['CHILDREN']]
#filter out households greater than 10
data = data[data['HHSIZE']<10]

data.program.unique()

array(['4c', 'cc', 'fc', 'pc', 'sc', 'vail'], dtype=object)

In [243]:
# Vehicles per driver
data = data[data['VEH'].notna()] #vails VEH nums were not strings?
data['VEH_num'] = data['VEH'].replace(['1','2','3','4+'],[1,2,3,4]).astype(int)
data['DRIVERS'] = data["including_yourself_how_many_people_have_a_driver's_license_in_y"]
data['DRIVERS_num'] = data['DRIVERS'].replace
data['veh_per_driver'] = (data['VEH_num'] / data['DRIVERS']).fillna(0)
data.loc[data['veh_per_driver']==np.inf, 'veh_per_driver'] = 0

print(len(data))

#filter out 'not a trip' trips
data = data[~data['Mode_confirm'].isin(['Not a Trip'])]
data = data[~data['Replaced_mode'].isin(['Not a Trip'])]
data = data[~data['Trip_purpose'].isin(['not_a_trip'])]

print(len(data))

59564
57606

In [244]:
# maybe split out before first e-bike trip?

In [245]:
data.program.unique()

array(['4c', 'cc', 'fc', 'pc', 'sc', 'vail'], dtype=object)

In [246]:
data.rename(columns = {'data_start_ts':'start_ts'}, inplace=True)

In [247]:
#separating programs
four_corners = data[data.program == "4c"]
community_cycles = data[data.program == "cc"]
fort_collins = data[data.program == "fc"]
pueblo = data[data.program == "pc"]
smart_commute = data[data.program == "sc"]
vail = data[data.program == "vail"]

print(four_corners['user_id'].nunique())
print(community_cycles['user_id'].nunique())
print(fort_collins['user_id'].nunique())
print(pueblo['user_id'].nunique())
print(smart_commute['user_id'].nunique())
print(vail['user_id'].nunique())

print(len(four_corners))
print(len(community_cycles))
print(len(fort_collins))
print(len(pueblo))
print(len(smart_commute))
print(len(vail))

10
43
26
13
13
8
2560
25757
11047
6930
6930
4382

In [248]:
#filtering each of them
from datetime import datetime

# not working, missing timestamps :(

In [249]:
#smart commute filtering

#timestamp conversion
smart_commute['start_ts']= pd.to_datetime(smart_commute['start_ts'], utc=True, unit='s')

#grouping, counting unique users
trip_sep=smart_commute.groupby(['user_id','Mode_confirm']).apply(lambda x:x[x.start_ts==min(x.start_ts)])
print(trip_sep['user_id'].nunique())

#consider only trips with E-bike (to get first e-bike trip)
sc_ebike_first=trip_sep[trip_sep['Mode_confirm']=='E-bike']

#get all the trips by ysers who ever had an e-bike trip
sc_ebike_user_list= sc_ebike_first['user_id'].tolist()
smart_commute_incl_ebike = smart_commute[smart_commute['user_id'].isin(sc_ebike_user_list)]
print(smart_commute_incl_ebike['user_id'].nunique())

#filter to the earliest ebike trip
for unique_id in sc_ebike_first['user_id']:
    for date in sc_ebike_first['start_ts']:
        smart_commute_ebike_first=smart_commute_incl_ebike[(smart_commute_incl_ebike['start_ts'] >= date)]

sc_unique_ebikefirst=smart_commute_ebike_first['user_id'].unique()
print(smart_commute_ebike_first['user_id'].nunique()) #11

/tmp/ipykernel_102/3643144510.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  smart_commute['start_ts']= pd.to_datetime(smart_commute['start_ts'], utc=True, unit='s')

0
0

NameError: name 'smart_commute_ebike_first' is not defined

In [250]:
#filter four corners
four_corners['start_ts']= pd.to_datetime(four_corners['start_ts'], utc=True, unit='s')

trip_sep_fc=four_corners.groupby(['user_id','Mode_confirm']).apply(lambda x:x[x.start_ts==min(x.start_ts)])
print(trip_sep_fc['user_id'].nunique())

fc_ebike_first=trip_sep_fc[trip_sep_fc['Mode_confirm']=='E-bike']

fc_ebike_user_list= fc_ebike_first['user_id'].tolist()
four_corners_incl_ebike = four_corners[four_corners['user_id'].isin(fc_ebike_user_list)]
print(four_corners_incl_ebike['user_id'].nunique())

for unique_id in fc_ebike_first['user_id']:
    for date in fc_ebike_first['start_ts']:
        four_corners_ebike_first=four_corners_incl_ebike[(four_corners_incl_ebike['start_ts'] >= date)]
        
fc_unique_ebikefirst=four_corners_ebike_first['user_id'].unique()
print(four_corners_ebike_first['user_id'].nunique())

/tmp/ipykernel_102/4259660508.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  four_corners['start_ts']= pd.to_datetime(four_corners['start_ts'], utc=True, unit='s')

0
0

NameError: name 'four_corners_ebike_first' is not defined

In [251]:
#filtering community cycles
community_cycles['start_ts']= pd.to_datetime(community_cycles['start_ts'], utc=True, unit='s')

trip_sep_cc=community_cycles.groupby(['user_id','Mode_confirm']).apply(lambda x:x[x.start_ts==min(x.start_ts)])
print(trip_sep_cc['user_id'].nunique())

cc_ebike_first=trip_sep_cc[trip_sep_cc['Mode_confirm']=='E-bike']

cc_ebike_user_list= cc_ebike_first['user_id'].tolist()
community_cycles_incl_ebike = community_cycles[community_cycles['user_id'].isin(cc_ebike_user_list)]
print(community_cycles_incl_ebike['user_id'].nunique())

for unique_id in cc_ebike_first['user_id']:
    for date in cc_ebike_first['start_ts']:
        community_cycles_ebike_first=community_cycles_incl_ebike[(community_cycles_incl_ebike['start_ts'] >= date)]

cc_unique_ebikefirst=community_cycles_ebike_first['user_id'].unique()
print(community_cycles_ebike_first['user_id'].nunique())

/tmp/ipykernel_102/1138286727.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  community_cycles['start_ts']= pd.to_datetime(community_cycles['start_ts'], utc=True, unit='s')

0
0

NameError: name 'community_cycles_ebike_first' is not defined

In [252]:
#filtering fort collins
fort_collins['start_ts']= pd.to_datetime(fort_collins['start_ts'], utc=True, unit='s')

trip_sep_fc=fort_collins.groupby(['user_id','Mode_confirm']).apply(lambda x:x[x.start_ts==min(x.start_ts)])
print(trip_sep_fc['user_id'].nunique())

fc_ebike_first=trip_sep_fc[trip_sep_fc['Mode_confirm']=='E-bike']

fc_ebike_user_list= fc_ebike_first['user_id'].tolist()
fort_collins_incl_ebike = fort_collins[fort_collins['user_id'].isin(fc_ebike_user_list)]
print(fort_collins_incl_ebike['user_id'].nunique())

for unique_id in fc_ebike_first['user_id']:
    for date in fc_ebike_first['start_ts']:
        fort_collins_ebike_first=fort_collins_incl_ebike[(fort_collins_incl_ebike['start_ts'] >= date)]
        
fc_unique_ebikefirst=fort_collins_ebike_first['user_id'].unique()
print(fort_collins_ebike_first['user_id'].nunique())

/tmp/ipykernel_102/1774079327.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fort_collins['start_ts']= pd.to_datetime(fort_collins['start_ts'], utc=True, unit='s')

0
0

NameError: name 'fort_collins_ebike_first' is not defined

In [253]:
#filtering pueblo
pueblo['start_ts']= pd.to_datetime(pueblo['start_ts'], utc=True, unit='s')

trip_sep_pu=pueblo.groupby(['user_id','Mode_confirm']).apply(lambda x:x[x.start_ts==min(x.start_ts)])
print(trip_sep_pu['user_id'].nunique())

pu_ebike_first=trip_sep_pu[trip_sep_pu['Mode_confirm']=='E-bike']

pu_ebike_user_list= pu_ebike_first['user_id'].tolist()
pueblo_incl_ebike = pueblo[pueblo['user_id'].isin(pu_ebike_user_list)]
print(pueblo_incl_ebike['user_id'].nunique())

for unique_id in pu_ebike_first['user_id']:
    for date in pu_ebike_first['start_ts']:
        pueblo_ebike_first=pueblo_incl_ebike[(pueblo_incl_ebike['start_ts'] >= date)]
        
pu_unique_ebikefirst=pueblo_ebike_first['user_id'].unique()
print(pueblo_ebike_first['user_id'].nunique())

0
0

/tmp/ipykernel_102/950012586.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pueblo['start_ts']= pd.to_datetime(pueblo['start_ts'], utc=True, unit='s')

NameError: name 'pueblo_ebike_first' is not defined

In [254]:
#filtering vail
vail['start_ts']= pd.to_datetime(vail['start_ts'], utc=True, unit='s')

trip_sep_va=vail.groupby(['user_id','Mode_confirm']).apply(lambda x:x[x.start_ts==min(x.start_ts)])
print(trip_sep_va['user_id'].nunique())

va_ebike_first=trip_sep_va[trip_sep_va['Mode_confirm']=='E-bike']

va_ebike_user_list= va_ebike_first['user_id'].tolist()
vail_incl_ebike = vail[vail['user_id'].isin(va_ebike_user_list)]
print(vail_incl_ebike['user_id'].nunique())

for unique_id in va_ebike_first['user_id']:
    for date in va_ebike_first['start_ts']:
        vail_ebike_first=vail_incl_ebike[(vail_incl_ebike['start_ts'] >= date)]
        
va_unique_ebikefirst=vail_ebike_first['user_id'].unique()
print(vail_ebike_first['user_id'].nunique())

ValueError: non convertible value REDACTED with the unit 's'

In [255]:
#checking num users and num trips in each program
print(four_corners_ebike_first['user_id'].nunique())
print(community_cycles_ebike_first['user_id'].nunique())
print(fort_collins_ebike_first['user_id'].nunique())
print(pueblo_ebike_first['user_id'].nunique())
print(smart_commute_ebike_first['user_id'].nunique())
print(vail_ebike_first['user_id'].nunique())

print(len(four_corners_ebike_first))
print(len(community_cycles_ebike_first))
print(len(fort_collins_ebike_first))
print(len(pueblo_ebike_first))
print(len(smart_commute_ebike_first))
print(len(vail_ebike_first))

NameError: name 'four_corners_ebike_first' is not defined

In [256]:
#combining the filtered datasets
filtered_merged = pd.concat([four_corners_ebike_first, community_cycles_ebike_first, fort_collins_ebike_first, 
                             pueblo_ebike_first, smart_commute_ebike_first,vail_ebike_first], axis=0)
print(len(filtered_merged)) #1496
print(filtered_merged['user_id'].nunique()) #122

NameError: name 'four_corners_ebike_first' is not defined

In [ ]:
#save as a csv, to be used as input to analysis!
filtered_merged.to_csv("tsdc_filtered_merged_trips.csv")